html {
  box-sizing:border-box;
}

*,
*::before*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: .5rem;
  padding: 1rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  color: #0074d9;
  width: 33.3333%

}
img {
  width: 2rem;
}

nav ul {
  display: flex;

  list-style-type: none;
}

li {
  padding: .75em 1em .6em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

h1 {
  width: 33.3333%
}

p {
  width: 33.3333%
}

h1 img {
  flex-direction: row-reverse;
}
